<div class="card mx-auto my-3" style="max-width: 440px;">
  <%= link_to recipe_path(recipe), class: "custom-link" do %>
    <div class="card-body">
      <h5 class="card-title"><%= recipe.name%> </h5>
      <p class="card-text"><%= recipe.description%> </p>
    </div>
  <% end %>
  <div class="text-center my-2">
    <%= render 'shared/delete_recipe', recipe: recipe %>
  </div>
</div>
