<div class="card mx-auto my-1" style="max-width: 440px;">
  <%= link_to recipe_path(recipe), class: "custom-link" do %>
    <div class="card-body">
      <h5 class="card-title"><%= recipe.name%> </h5>
      <p class="card-text"><%= recipe.description%> </p>
    </div>
  <% end %>
  <div class="text-center my-2">
    <%= button_to "Delete post", recipe_path(recipe), method: :delete, class:'btn btn-sm btn-outline-danger'%>
  </div>
</div>
